.hidden
{
  display: none;
}

#slide_show
{
  width: 100%
  height: 100%;
  z-index: -1;
  position: static;
}

#slide_show > div
{
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}

#slide_show img
{
  object-fit: cover;
}